language: node_js

node_js:
  - "node"

cache:
  yarn: true
  directories:
    - node_modules

script:
  - yarn --version
  - yarn check --integrity
  - yarn install
  - yarn setup
  - yarn lint
  - yarn test:nsp-warn
  - yarn test
  - yarn test:coverage
#  - yarn test:routes
#  - yarn test:a11y
after_success:
  - yarn test:codacy-upload
  - yarn test:codecov-upload
